body {
    display: flex;
    flex-direction: column;
}
table {
    border-spacing: 0px; /*cellspacing*/
    border-collapse: collapse; 
    border: 0;
}
td {
    padding-bottom: .75em; /*cellpadding*/
}
#headerText {
    height: 12vh;
    padding: 0;
}
#logo {
    width: 50%;
    height: 100%;
    position: relative;
}
#largeImage {
    width: 600px;
    padding: 0;
    left: 0;
    object-fit: cover;
}
#mediumImage {
    width: 90%;
    max-height: 20%;
}
#smallImage {
    width: 75%;
    height: 5%;
}
#socials {
    background-color: #000;
    color: #fff;
    height: 5vh;
}
tfoot {
    position: sticky;
    inset-block-end: 0;
    background-color: #F5F8FA;  
    padding: 0;
}
p {
    margin: 0px;
}
.fa-custom {
    color: #fff;
}